{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: rgb(162, 233, 185);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: rgb(255, 255, 255)">
  <b>Your Profile</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('viewprofile') }}">
    <table>
      <tr>
        <td style="margin-right: 10px">Username</td>
        <td>
          <input
            type="text"
            name="username"
            value="{{session.username}}"
            class="form-control"
            style="margin-left: 10px"
            readonly
          />
        </td>
      </tr>
    </table>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: rgb(255, 255, 255);
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
          margin-top: 10px;
          margin-left: 50px;
        "
      >
        Confirm
      </button>
    </div>
  </form>
</div>

<!-- Form section -->

{% endblock %}
